version: '3'
services:
  app:
    container_name: app
    restart: always
    build: .
    ports:
      - "5000:5000"
    links:
      - mongo

  mongo:
    container_name: mongo
    restart: always
    image: mongo
    ports:
      - "27017:27017"

  proxy:
    restart: always
    build:
      context: .
      dockerfile: nginx/Dockerfile
    ports:
      - "80:80"
      - "443:443"
    depends_on:
      - app